<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="site.sht.bd.foodhood">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="site.sht.bd.foodhood.Policy"></activity>
        <activity android:name="site.sht.bd.foodhood.ImageFull" />
        <activity android:name="site.sht.bd.foodhood.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="site.sht.bd.foodhood.home" />
        <activity android:name="site.sht.bd.foodhood.PersonDetail" />
        <activity android:name="site.sht.bd.foodhood.DishDetail" />
        <activity android:name="site.sht.bd.foodhood.RestDetail" />
        <activity android:name="site.sht.bd.foodhood.AllDishes" />
        <activity android:name="site.sht.bd.foodhood.MorePeole" />
        <activity android:name="site.sht.bd.foodhood.CreatePost" />
        <activity android:name="site.sht.bd.foodhood.CreatePostSelectImages" />
        <activity android:name="site.sht.bd.foodhood.CreatePostSelectPlace" />
        <activity android:name="site.sht.bd.foodhood.CreatePostAddDishes" />
        <activity android:name="site.sht.bd.foodhood.CreatePostDishSelectReview" />
        <activity android:name="site.sht.bd.foodhood.CreatePostAddPeople" />
        <activity android:name="site.sht.bd.foodhood.CreatePostPreview" />
        <activity android:name="site.sht.bd.foodhood.FullPost" />
        <activity android:name="site.sht.bd.foodhood.WriteComment" />
        <activity android:name="site.sht.bd.foodhood.CommentDetail" />
        <activity android:name="site.sht.bd.foodhood.SignUp" />
        <activity android:name="site.sht.bd.foodhood.EmailVerification" />
        <activity android:name="site.sht.bd.foodhood.ProfileSetup" />
        <activity android:name="site.sht.bd.foodhood.PasswordRecovery" />
        <activity android:name="site.sht.bd.foodhood.SignInAfterPasswordRecovery" />
        <activity android:name="site.sht.bd.foodhood.SetProfilePicture" />
        <activity android:name="site.sht.bd.foodhood.SetPhone" />
        <activity android:name="site.sht.bd.foodhood.AdvancedSearchDish" />
        <activity
            android:name="site.sht.bd.foodhood.Wishlist"
            android:parentActivityName="site.sht.bd.foodhood.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="site.sht.bd.foodhood.MainActivity" />
        </activity>
        <activity android:name="site.sht.bd.foodhood.RestaurantAllDishes" />
        <activity android:name="site.sht.bd.foodhood.FullRestFeed" />
        <activity android:name="site.sht.bd.foodhood.RestAccountSetup" />
        <activity android:name="site.sht.bd.foodhood.RestaurantHome" />
        <activity android:name="site.sht.bd.foodhood.SetCurrentTown" />
        <activity
            android:name="site.sht.bd.foodhood.EditPersonProfile"
            android:parentActivityName="site.sht.bd.foodhood.home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="site.sht.bd.foodhood.home" />
        </activity>
        <activity
            android:name="site.sht.bd.foodhood.EditPersonProfileForm"
            android:parentActivityName="site.sht.bd.foodhood.EditPersonProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="site.sht.bd.foodhood.EditPersonProfile" />
        </activity>
        <activity
            android:name="site.sht.bd.foodhood.EditRestProfile"
            android:parentActivityName="site.sht.bd.foodhood.RestaurantHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="site.sht.bd.foodhood.RestaurantHome" />
        </activity>
        <activity
            android:name="site.sht.bd.foodhood.EditRestProfileForm"
            android:parentActivityName="site.sht.bd.foodhood.EditRestProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="site.sht.bd.foodhood.EditRestProfile" />
        </activity>
        <activity android:name="site.sht.bd.foodhood.ChangeRestCoverPhoto">

            <!-- android:parentActivityName=".EditRestProfile"> -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".EditRestProfile" /> -->
        </activity>
        <activity android:name="site.sht.bd.foodhood.FullPostForRestaurant" />
        <activity android:name="site.sht.bd.foodhood.AllRestaurants" />
        <activity android:name="site.sht.bd.foodhood.CreateRestFeedPreview" />
        <activity android:name="site.sht.bd.foodhood.EditDishForm" />
        <activity android:name="site.sht.bd.foodhood.SplashScreen" />
        <activity android:name="site.sht.bd.foodhood.UpdateMust" />
    </application>

</manifest>